<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://plan360.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>plan360.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Plan360</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Plan360\admpublicacao2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Plan360ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=gu2s89diff.database.windows.net;Initial Catalog=Plan360;User ID=adm@gu2s89diff;Password=1A4b7gyv" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Plan360.Infra.Data.Context.Plan360DataContext, Plan360.Infra.Data" MigrationConfiguration="Plan360.Infra.Data.Migrations.Configuration, Plan360.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Plan360ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=gu2s89diff.database.windows.net;Initial Catalog=Plan360;User ID=adm@gu2s89diff;Password=1A4b7gyv</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>